table, td, tr{
    border: solid 2px rgb(40, 48, 77);
}
td{
    width: 80px;
    height: 60px;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(49, 49, 49);
}

body{
    background-color: rgb(187, 184, 184);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: large;
}